body{
  font-family: helvetica-light;
}
.row{
  margin:0;
}
h1{
  font-size: 5em;
}
h2{
  font-size: 4em;
}
a,a:hover,a:active{
  text-decoration: none;
  color:#14b97d;
}
section{
  height:100vh;
  min-height:100%;
  max-height:100%;
  background: #000;
}
section:nth-child(2n){
  background: #fff;
}
section h2{
  color:#14b97d;
  text-transform: uppercase;
}
.intro{
  position: relative;
}
.intro .inline-menu{
  display: inline-block;
  list-style: none;
}
.intro .inline-menu li{
  display: inline-block;
  margin-left: 10px;
}
.intro .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(17%);
}
.intro h1{
  color:#14b97d;
  font-family: Segoe UI Bold;
  text-transform: uppercase;
}
.intro p{
  color: #fff;
  font-size: 2vw;
  padding: 16px 0 50px 0;
  line-height: 1.3em;
}
a.hireMe{
  font-size: 2vw;
  text-transform: uppercase;
  border: 1px solid #14b97d;
  border-radius: 4px;
  padding:5px;
}
.profile-pic-holder{
  height:150px;
  width:100px;
}
.about .content{
  width: 90%;
  margin:0 auto;
}
.about p{
  font-size: 2vw;
  padding: 10px 0 25px 0;
  line-height: 1.6em;
}
/* SKILLS MATRIX ANIMATIONS*/
/* SKILLS MATRIX ANIMATIONS*/
